<div class="technologies-container">
  <h2>Tecnologias que <span>utilizo</span>.</h2>
  <div class="grid-container">
    <div class="card-grid">
      <div class="description-technologies">
        <h3>Front-End:</h3>
        <p id="paragraph">Tecnologias que utilizo para desenvolver no Front-End.</p>
        <ul>
          <li>Git</li>
          <li>GitHub</li>
          <li>Bitbucket</li>
          <li>JavaScript</li>
          <li>Angular</li>
          <li>Tailwind CSS</li>
        </ul>
      </div>
    </div>
    <div class="card-grid">
      <div class="description-technologies">
        <h3>Back-End:</h3>
        <p id="paragraph">Tecnologias que utilizo para desenvolver no Back-End.</p>
        <ul>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>MongoDB</li>
          <li>Mongoose</li>
          <li>JWT</li>
          <li>Bcrypt</li>
        </ul>
      </div>
    </div>
  </div>
</div>
