footer {
  border-top: 1px solid #87cefa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

footer h3 {
  font-size: x-large;
  margin-bottom: 1.2em;
}

footer p {
  margin-bottom: 1.2em;
}

footer span {
  color: #87cefa;
}
