footer {
  border-top: 1px solid #87cefa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 236px;
}

footer h3 {
  font-size: x-large;
  margin-bottom: 1.2em;
}

footer p {
  margin-bottom: 1.2em;
}

footer span {
  color: #87cefa;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 2em;
}

footer img {
  width: 40px;
  height: auto;
}

.margin-right {
  margin-right: 2em;
}

.margin-left {
  margin-left: 2em;
}
