<footer>
  <ul>
    <li class="margin-right">
      <a href="https://github.com/erickbarrosr" target="_blank"> <img src="/assets/github.png" alt="github"></a>
    </li>
    <li class="margin-right">
      <a href="https://www.linkedin.com/in/erickbarrosr/" target="_blank"> <img src="/assets/linkedin.png"
          alt="linkedin"></a>
    </li>
    <li>
      <a href="https://www.instagram.com/erickbarrosr" target="_blank"> <img src="/assets/instagram.png"
          alt="instagram"></a>
    </li>
    <li class="margin-left">
      <a href="https://api.whatsapp.com/send?phone=32991389302" target="_blank"> <img src="/assets/whatsapp.png"
          alt="whatsapp"></a>
    </li>
  </ul>
  <p><span>Erick Barros Dev</span> &copy; 2023</p>
</footer>
