<header>
  <nav>
    <a class="brand" routerLink="/home">
      <img src="/assets/logo.png" alt="Logo" />
      <h2>Erick Barros</h2>
    </a>
    <ul class="links">
      <li>
        <a routerLink="/technologies">Tecnologias</a>
      </li>
      <li id="add">
        <a routerLink="/projects">Projetos</a>
      </li>
      <li>
        <a routerLink="/experiences">Experiências</a>
      </li>
    </ul>
    <a routerLink="/contact">
      <input type="submit" value="{{contactButton}}">
    </a>
  </nav>
</header>
