nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  border-bottom: 1px solid #87cefa;
}

.brand,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  width: 40px;
  margin-right: 0.6em;
}

.brand h2 {
  transition: 0.4s;
}

.brand:hover > h2 {
  color: #87cefa;
}

.links li {
  margin-left: 1em;
  list-style: none;
}

.links a {
  padding: 0.1em 0.3em;
}

#add a {
  color: #87cefa;
}

#add a:hover {
  background-color: #4f4f4f;
  border-radius: 50%;
}

input[type="submit"] {
  background-color: #87cefa;
  border: none;
  border-radius: 50%;
  padding: 0.6em 1em;
  font-weight: bold;
  color: #09090b;
  cursor: pointer;
  font-size: 1.1em;
  border: 2px solid transparent;
  transition: 0.4s;
}

input[type="submit"]:hover {
  color: #87cefa;
  border-color: #87cefa;
  background-color: transparent;
}
