nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  border-bottom: 1px solid #87cefa;
}

.brand,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  width: 40px;
  margin-right: 0.6em;
}

.brand h2 {
  transition: 0.4s;
}

.brand:hover > h2 {
  color: #87cefa;
}

.links li {
  margin-left: 1em;
  list-style: none;
}

.links a {
  padding: 0.1em 0.3em;
}

#add a {
  color: #87cefa;
}

#add a:hover {
  background-color: #4f4f4f;
  border-radius: 50%;
}
