<section id="section-experiences" class="section-experiences">
  <h2>Experiências <span>Profissionais</span>.</h2>
  <div class="experiences-container">
    <img class="logo-experiences" src="assets/sensio.png" alt="logo" />
    <div class="description-experiences">
      <h3>Sensio ERP</h3>
      <h4>Desenvolvedor Full-Stack - Abril de 2023 até o momento</h4>
      <p class="experiences">
        Responsável pelo desenvolvimento de novas funcionalidades do sistema, correção de bugs, testes de
        funcionalidades, code review, colaboração com o time, usando as tecnologias: Angular, Node.js, MongoDB e AWS.
      </p>
    </div>
  </div>
</section>
