<section id="section-portfolio" class="section-portfolio">
  <h2>Portfólio de <span>projetos</span>.</h2>
  <div class="grid-container-portfolio">
    <div class="card-grid-portfolio">
      <img class="card-grid-portfolio-img" src="assets/walletapp.png" alt="walletapp" />
      <h3>Wallet App</h3>
      <p class="portfolio">
        Wallet application using<br />HTML, CSS and JavaScript.
      </p>
      <div class="icons-grid-portfolio">
        <a href="https://erickbarrosr.github.io/wallet-app-frontend/" target="_blank">
          <img class="icon-link" src="assets/link.png" alt="link" />
        </a>
        <a href="https://github.com/erickbarrosr/wallet-app-frontend" target="_blank">
          <img class="icon-github" src="assets/github.png" alt="github" />
        </a>
      </div>
    </div>
    <!-- <div class="card-grid-portfolio">
      <img class="card-grid-portfolio-img" src="source/imagens/bookclub.png" alt="bookclub" />
      <h3>Book Club</h3>
      <p class="portfolio">
        Aplicação em React<br />e Express.js + Sequelize.
      </p>
      <div class="icons-grid-portfolio">
        <a>
          <img src="source/icons/link.png" alt="link" />
        </a>
        <a>
          <img class="icon-github" src="source/icons/github.png" alt="github" />
        </a>
      </div>
    </div> -->
    <!-- <div class="card-grid-portfolio">
      <img class="card-grid-portfolio-img" src="source/imagens/supermarketlist.png" alt="bookclub" />
      <h3>Supermarket List</h3>
      <p class="portfolio">
        Aplicação em React<br />e Express.js + MongoDB.
      </p>
      <div class="icons-grid-portfolio">
        <a>
          <img src="source/icons/link.png" alt="link" />
        </a>
        <a>
          <img class="icon-github" src="source/icons/github.png" alt="github" />
        </a>
      </div>
    </div> -->
  </div>
</section>
