.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile {
  margin: 5.8em 0 0 4em;
}

.greetings {
  margin-right: 4em;
}

h1 {
  margin: 0.5em 0;
  font-size: 3em;
}

p {
  margin-bottom: 1.2em;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

img {
  width: 328px;
  height: auto;
  border: 0.2em solid #87cefa;
  border-radius: 1em;
}
