* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: #09090b;
  color: #fafafa;
}

a {
  text-decoration: none;
  color: #fafafa;
  transition: 0.4s;
}

a:hover {
  color: #87cefa;
}
